<h1>Welcome to Scrabble</h1>
<form action="/word">
  <div class="form-group">
     <label for="word">Enter your scrabble word to get a score?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
